# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Archivos de configuración local
.env

# Logs
*.log

# Directorios de IDEs
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.dbi".env" 
".env" 

# Ignorar la carpeta node_modules
node_modules/